*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #e0dddd;
}

header {
    background: #0d0846;
    margin: auto;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 7.5rem;
    padding: 2.3rem 0;
}

h1 {
    font-size: 1.3rem;
}

ul {
    display: flex;
}
li {
    font-weight: 300;
    font-size: 0.9rem;
    list-style: none;
    padding: 0 1.5rem ;
}

.showcase {
    max-width: auto;
    height: 700px;
    background: url(images/hotel.jpg) no-repeat;
    background-size: cover;
}
