*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #e0dddd;
}

header {
    background: #0d0846;
    margin: auto;
}

.container{
    margin: 2.2rem 7.5rem 0 5.5rem;
}

h1 {
    float: left;
    font-size: 1.3rem;
}

li {
    display: inline;
    float: left;
    margin-top: 1.4rem;
    padding: 0 1.7rem 0 1.7rem;
}

.clr {
    clear: both;
}