*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #e0dddd;
}

header {
    background: #0d0846;
    margin: auto;
    color: #fff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 7.5rem;
    padding: 2.3rem 0;
}

h1 {
    font-size: 1.3rem;
}

ul {
    display: flex;
}
li {
    font-weight: 300;
    font-size: 0.9rem;
    list-style: none;
    padding: 0 1.5rem ;
}

.overlay {
    background: rgba(13, 8, 70, 0.5);
    height: 600px;
}

.img-showcase {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: -1;
}

.txt-showcase {
    position: relative;
    max-width: 70%;
    margin: auto;
    bottom: 420px;
    color: #fff;
    text-align: center;
}

.txt-showcase > h3 {
    font-size: 0.8rem;
    font-weight: 300;
}
.txt-showcase > h1 {
    font-size: 3.5rem;
    margin: 0.2rem 0;
}

.btn {
    padding: 1.0rem 1.2rem;
    background: #0d0846;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    font-weight: 500;
}

input[type="date"] {
    content: attr(placeholder);
}

#form-col {
    background: #0d0846 ;
    max-width: 85%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 2.2rem 0.9rem;
}

#col-2, #col-3, #col-4{
    display: flex;
    flex-direction: column;
    width: 270px;
}

input, select, .btn-book {
    background: none;
    color: #e0dddd;
    font-size: 0.8rem;
    margin: 0.3rem 0;
    padding: 0.6rem 1.0rem;
    border: 0.1px solid #9e9d9d;
}

option {
    font-size: 0.9rem;
    padding-top: 20px;
    color: #000;
    height: 400px;
    box-sizing: border-box;
}

.btn-book {
    background-color: rgb(251, 132, 20);
    border: none;
    color: #000;
    font-weight: 500;
    border-radius: 2px;
}
.btn-book:hover {
    background-color: rgb(211, 110, 16);
}

.txt-card {
    text-align: center;
    padding: 2.5rem 0;
}
.txt-card > h1 {
    font-size: 2.2rem;
}
.card-img {
    border-radius: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card:hover {
    transition: all 1s ease-in-out;
    transform: scale(1.1);
}
.btn-card {
    background: #0d0846;
    border: none;
    border-radius: 3px;
    color: #fff;
    width: 150px;
    margin-top: -65px;
    padding: 1.0rem;
    cursor: pointer;
}
.txt-btn-card {
    margin: 15px;
}
.txt-btn-card > p {
    margin-top: -15px;
    color: #0d0846;
}
.txt-btn-card > p > span {
    font-size: 1.5rem;
    font-weight: 500;
}

.facilities-showcase {
    background: rgba(13, 8, 70, 0.5);
    height: 900px;
}


.facilities-card {
    height: 900px;
}
.facilities-showcase > img {
    position: relative;
    width: 100%;
    height: 900px;
    z-index: -1;
}

.wrapper {
    width: 32%;
    position: relative;
    bottom: 600px;
    border: 1px solid #9e9d9d;
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.wrapper-content {
    display: flex;
    align-items: center;
}

.txt-facilities {
    position: relative;
    text-align: center;
    color: #fff;
    top: 220px;
}
.txt-facilities > h1 {
    font-size: 2.1rem;
}
.wrapper-caption {
    font-size: 1.0rem;
    line-height: 1.2rem;
}
.about-us {
   flex-wrap: nowrap;
   margin-top: 30px;
}
.about {
    padding-top: 25px;
}
.about > h2 {
    font-size: 2.5rem;
}


.about > button {
    margin-top: 35px;
    padding: 10px 20px;
    background: #0d0a0a;
    color: #fff;
    border: none;
}
.about > button:hover {
    transition: all 1s linear;
    background: #0d0846;
}